*{
    padding: 0px;
    margin: 0px;
}
/* div{
    width: 80px;
    height: 80px;
    background-color: red;
    border-radius: 100%;
    animation-name: ballAnimation;
    animation-duration: 5s;
}
@keyframes ballAnimation {
    form{
        transform: translate(0px,0px);
        border-radius: 0px;
        background-color: red;
    }
    to{
        transform: translate(138
        0px,630px);
        border-radius: 100%;
        background-color: black;
    }
    
} */

input{
    width: 200px;
    height: 50px;
    margin-top: 150px;
    margin-left: 35%;
    background-image: linear-gradient(75deg,skyblue,hotpink,red);
    border: none;
    border-radius: 10px;
    background-size: 1000px;
    background-position: 1000px;
    font-size: 24px;
    color: aliceblue;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 2px 5px 5px black;
}
input:hover{
    animation-name: buttonAni;
    animation-duration: 5s;
}
@keyframes buttonAni{
    0%{
        transform: scale(1) rotate(0) skew(0deg,0deg);
    }
    25%{
        transform: scale(1.1) rotate(15deg) skew(10deg,10deg);
       background-position: 1000px;
    }
    50%{
        transform: scale(1) rotate(-15deg) skew(-10deg,-10deg);
    }
    75%{
        transform: scale(1.1) rotate(10deg) skew(5deg,5deg);
        background-position: 0px;
    }
    100%{
        transform: scale(1.1) rotate(-10deg) skew(-5deg,-5deg);
    }
}