*{
    padding: 0px;
    margin: 0px;
}
div{
    width: 400px;
    height: 400px;
    margin-top: 10%;
    margin-left: 37%;
    background-color: grey;
    border: solid orange 5px;
    border-radius: 10px;
    box-shadow: 8px 8px 5px black;
}
#a{
    width: 200px;
    height: 200px;
    margin-left: 100px;
    margin-top: 80px;
    background-image: url(../../asset/image/Ammu.jpg);
    background-size: 100% 100%;
    background-position: center;
    border-radius: 0px 30% 0px 30%;
    background-repeat: no-repeat;
}
input{
    width: 200px;
    height: 30px;
    margin-top: 40px;
    margin-left: 100px;
    text-align: center;
    font-weight: bold;
    background-color: plum;
    border-radius: 5px;
    border: solid black 2px;
}
#h1{
    float: right;
    padding-right: 30px;
    padding-bottom: 30px;
    color: transparent;
}
#h2{
    float: left;
    padding-right: 30px;
    padding-bottom: 30px;
    color:transparent;
}
input:hover+#a{
    width: 200px;
    height: 200px;
    margin-top: 80px;
    background-image: url(../../asset/image/Satvi.jpg);
    border-radius: 30% 0px 30% 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
#h1:hover>#h2{
    color: black;
}