#a{
    width: 370px;
    height: 370px;
    background-color: palevioletred;
    /* border-radius: 84% 16% 70% 30% / 77% 12% 88% 23% ; */
    /* border-radius: 84% 16% 70% 30% / 0% 12% 88% 100% ; */
    border-radius: 49% 51% 100% 0% / 100% 100% 0% 0% ;
    box-shadow: 50PX 50PX 0PX lightslategrey,-50PX -50PX 0PX teal,50px -50px 0px orange,-50px 50px 0px black;
    /* box-shadow: 5PX 5PX 0PX lightslategrey,-5PX -5PX 0PX teal,5px -5px 0px orange,-5px 5px 0px black; */
}