h1{
    background-color: plum;
    height: 300px;
    width: 300px;
    display: inline;
}
p{
    background-color: orange;
    height: 300px;
    width: 300px;
    display: inline;
}
span{
    background-color: olivedrab;
    color: white;
    height: 300px;
    width: 300px;
    display: block;
}
b{
    background-color: yellow;
    height: 300px;
    width: 300px;
    display: block;
}
i{
    background-color: palevioletred;
    height: 500px;
    width: 500px;
    /* display: block; */
    display: inline-block;
}