*{
    padding: 0px;
    margin: 0px;
}
header{
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
}
video{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    filter: brightness(50%);
}
h1{
    position: absolute;
    z-index: 2;
    color: white;
    font-size: 60px;
    top: 41%;
    left: 23%;
    letter-spacing: 5px;
    text-shadow: 5px 5px 5px black;
}