div{
    height: 500px;
    width: 500px;
    background-color: thistle;
    /* overflow: hidden; */
    /* overflow: scroll; */
    overflow: auto;
}
img{
    opacity: 0.5;
    /* width: 500px; */
}
p{
    width: 50%;
    height: 200px;
    /* overflow: scroll; */
    overflow-x: hidden;
    overflow-y: scroll;
}