body{
    background-image: radial-gradient(teal 20%, pink);
    background-size: 30px 130px;
}
img{
    width: 200px;
    height: 200px;
    border-radius:20px;
    box-shadow: 5px 5px 5px gray,150px -150px 0px red, -150px 150px 0px yellow,120px 120px 0px green,-120px -120px 0px blue;
}