img{
    width: 500px;
}
#Groove{
    border-style: groove;
    border-width: 15px;
    border-color: plum;
}
.picture{
    width: 150px;
    height: 100px;
    border-radius: 10px;
    margin-top: 150px;
    margin-left: -100px;
    transform: skewY(-45deg);
    transition: all 2s ;
}
.picture:hover{
    border-radius: 100%;
    transform: rotate(0deg) skewY(0deg) scale(1.5) translateY(-50px);
}